 <launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <!-- TurtleBot3 in Gazebo -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- 
    VELOCITY MUXER
    This ensures only one system controls the robot at a time.
  -->
  <node pkg="topic_tools" type="mux" name="cmd_vel_mux" 
        args="/cmd_vel /cmd_vel_nav /cmd_vel_teleop" 
        output="screen">
    <remap from="mux" to="cmd_vel_mux"/>
  </node>

  <!-- Test the muxer -->
  <node pkg="my_navigator" type="test_muxer.py" name="muxer_tester" output="screen" />

</launch> 